@import '../../../../styles/variables';

.faq {
  margin-top: 45px;
  padding-bottom: 42px;
  max-width: 794px;
  margin-left: auto;
  margin-right: auto;

  .btn {
    width: 130px;
    position: absolute;
    right: 8px;
    top: calc(50% - 40px / 2);
  }
}
