@import "../../../../../../styles/mixins/bootstrap.scss";
@import "../../../../../../styles/variables.scss";

.verify-container {

  .data__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include make-col(12);

    &-content {
      display: flex;
      align-items: center;
      margin: 10px 0;
    }
    &-source {
      align-items: center;
      display: flex;
      color: $mine-shaft;
      font-size: 14px;

      .icon {
        margin-right: 5px;
      }
    }

    &-joined {
      font-size: 12px;
      color: $jumbo;
      margin-top: 5px;
    }
  }
}
