// $silver: silver;
// $mine-shaft: #333333;
// $jumbo: #818184;
// $royal-blue: #483ee8;
// $black: #000000;
// $white: #ffffff;
// $portage: #a39ef3;
// $portage-opaque2: rgba(163, 158, 243, .2);
// $watermelon: #ff5179;
// $selago: #f5f5fd;
// $turquoise: #35d4c0;
// $jungle-green: #2ab1a0;
// $navy: #312ba0;
// $governor-bay: #4138d1;
// $bright-turquoise: #1bcffc;
// $sea-buckthorn: #f6aa26;
// $catskill-white: #edf1f7;
// $medium-purple: #7a74de;
// $ghost: #cdd2d8;
// $geyser: #d6dbe2;
// $athens-gray: #f2f3f5;
// $red: #ff000e;
// $tundora: #4a4a4a;

// New Variables
$silver: silver;
$mine-shaft: #333333;
$jumbo: #818184;
$royal-blue: #00d192;
$black: #000000;
$white: #ffffff;
$portage: #00d192;
$portage-opaque2: rgba(163, 158, 243, 0.2);
$watermelon: #ff5179;
$selago: #f7f8f8;
$turquoise: #35d4c0;
$jungle-green: #2ab1a0;
$navy: #312ba0;
$governor-bay: #00d192;
$bright-turquoise: #1bcffc;
$sea-buckthorn: #f6aa26;
$catskill-white: #f0f2f1;
$medium-purple: #7a74de;
$ghost: #cdd2d8;
$geyser: #d6dbe2;
$athens-gray: #f2f3f5;
$red: #ff000e;
$tundora: #4a4a4a;
