.sign-up {
  margin-top: 50px;

  @media (max-height: 1000px) {
    margin-top: 10px;
  }

  .modal-window__close {
    margin-top: 3px;
  }

  &__window {
    @media (max-height: 960px) {
      max-height: 895px;
      overflow-y: scroll;
    }

    @media (max-height: 920px) {
      max-height: 700px;
    }
  }
}

.captcha {
  position: relative;
  margin: 0px 0px 7% 22%;
}
