.dashboard-gigs {
  .dashboard__page-content-block {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;

    .offerList {
      padding-left: 32px;
      padding-right: 32px;
    }

    .dashboard-offers-header {
      margin: 0;
    }
  }
}
