@import '../../styles/variables.scss';

.avatar {
  width: 40px;
  height: 40px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: $catskill-white;

  &--business {
    &:before {
      width: 40px;
      height: 48px;
      top: 0;
      left: 0;
      position: absolute;
      content: '';
      display: block;
      background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="40" height="47" viewBox="0 0 40 47"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Ccircle cx="20" cy="20" r="19" stroke="%23FF5179" stroke-width="2"/%3E%3Cpath fill="%23FF5179" d="M15.8 38h8.4a.8.8 0 0 1 .8.8v7.807a.4.4 0 0 1-.527.38l-4.346-1.456a.4.4 0 0 0-.254 0l-4.346 1.455a.4.4 0 0 1-.527-.379V38.8a.8.8 0 0 1 .8-.8z"/%3E%3C/g%3E%3C/svg%3E%0A');
      background-repeat: no-repeat;
    }
  }

  &--unread {
    &:after {
      width: 10px;
      height: 10px;
      position: absolute;
      top: 2px;
      right: 2px;
      border-radius: 50%;
      z-index: 2;
      content: '';
      display: block;
      background: $watermelon;
    }
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 0;
    object-fit: cover;
  }
}
