@import '../../../../styles/variables';

.file-uploader {
  &__dropzone {
    min-height: 143px;
    // border-radius: 20px;
    border-radius: 0px;
    border: 2px $portage dashed;
    padding: 11px 11px 0 11px;
    box-sizing: border-box;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__no-files {
    min-height: 132px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    span {
      margin-bottom: 8px;
      color: $mine-shaft;
    }

    button {
      width: 160px;
    }
  }
}

.uploaded-files {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  &__item {
    width: 121px;
    height: 121px;
    margin: 0 11px 11px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.15);
    background-size: 100% 100%;

    &:nth-child(4n) {
      margin-right: 0;
    }

    .spinner {
      padding-top: 0;
      top: 46px;
      background: 0;
    }

    span {
      font-size: 13px;

      i {
        margin-right: 3px;
      }
    }

    &--next {
      padding: 0 18px;
      flex-direction: column;
      align-items: flex-start;
      color: $mine-shaft;

      &:before {
        width: 36px;
        height: 36px;
        content: '';
        display: block;
        position: absolute;
        right: 8px;
        bottom: 8px;
        z-index: 2;
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"%3E%3Cg fill="none" fill-rule="evenodd"%3E%3Cpath fill="%23FFF" fill-opacity="0" d="M0 0h36v36H0z"/%3E%3Cpath fill="%23483EE8" fill-rule="nonzero" d="M16 16h-6a2 2 0 1 0 0 4h6v6a2 2 0 1 0 4 0v-6h6a2 2 0 1 0 0-4h-6v-6a2 2 0 1 0-4 0v6z"/%3E%3C/g%3E%3C/svg%3E%0A');
      }

      strong {
        display: block;
        font-size: 14px;
        line-height: 22px;
      }
    }

    .remove-file {
      width: 20px;
      height: 20px;
      display: block;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 6px;
      right: 6px;
      z-index: 2;
      border: 0;
      border-radius: 50%;
      background: rgba(51, 51, 51, 0.8);

      &:before {
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -5px;
        content: '';
        background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"%3E%3Cpath fill="%23FFF" fill-rule="nonzero" d="M4.993 3.578L8.278.293a1 1 0 0 1 1.414 1.414L6.407 4.993l3.285 3.285a1 1 0 1 1-1.414 1.414L4.993 6.407 1.707 9.692A1 1 0 1 1 .293 8.278l3.285-3.285L.293 1.707A1 1 0 1 1 1.707.293l3.286 3.285z"/%3E%3C/svg%3E%0A');
      }
    }
    .remove-file2 {
      width: 20px;
      height: 20px;
      display: block;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 6px;
      left: 6px;
      z-index: 2;
      border: 0;
      border-radius: 50%;
      background: rgba(51, 51, 51, 0.8);

      &:before {
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -5px 0 0 -5px;
        content: '';
      }
    }
  }
}

.uploaded-files__item i {
  width: 20px;
  height: 20px;
  display: block;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 6px;
  font-size: 12px;
  z-index: 2;
  color: white;
  left: 0px;
  border: 0;
  border-radius: 50%;
}

.react-responsive-modal-modal {
  top: -50px;
}

.crsrP {
  cursor: pointer;
}
